@tailwind base;
@tailwind components;
@tailwind utilities;



/* Exemplo de reset personalizado */
html {
  scroll-behavior: smooth; /* Suaviza o scroll */
}

body {
  font-family: 'Lato', sans-serif; /* Exemplo de fonte personalizada */
  background-color: #f8f9fa; /* Cor de fundo padrão */
  color: #ffffff; /* Cor do texto padrão */
  margin: 0;
  padding: 0;
}


@layer components {
  .container {
      @apply mx-auto lg:max-w-7xl px-5 lg:px-0;
  }
  .text-verum-purple {
    color:#4F227A; 
  }
}